#fondocat{
    border-radius: 15px 108px 200px 51px !important;
    -moz-border-radius: 15px 108px 200px 51px !important;
    -webkit-border-radius: 15px 108px 200px 51px !important;
    border: 0px solid #000000;
}
.formregistro{
	
}